/* For layout purposes */
.whole-page {
  height: calc(100vh - 4.5rem);
}

/* Home page (right column) */
#home-page {
  background: linear-gradient(
    0deg,
    rgb(19, 19, 19) 60%,
    rgba(217, 147, 242, 0.9416141456582633) 110%
  );
  overflow-y: scroll;
  height: calc(100vh - 4.5rem);
}

._playlist-container {
  display: flex;
  flex-wrap: wrap;
}

/* Album page (right column) */
#playlist-page {
  background-color: rgb(19, 19, 19);
  overflow-y: scroll;
  height: calc(100vh - 4.5rem);
  color: white;
}

._playlist-preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 0.9rem;
  box-sizing: border-box;
}

/* Same component, styled differently */
._playlist-preview-container .playlist-card {
  margin: 0;
}

._playlist-preview-container .cover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}

.playlist-text {
  margin-top: 0;
  /* margin-bottom: 1.5rem; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 1rem;
}

.playlist-text h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}

.avatar span {
  margin-left: 0.7rem;
  font-size: 0.9rem;
}

.playlist-text p:first-child {
  margin-bottom: 0.3rem;
}

.playlist-text p {
  font-size: small;
  color: rgb(141, 141, 141);
}

._tracks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
  margin-top: 1rem;
}


.single-track {
  width: 100%;
}