/* For layout purposes */
.whole-page {
  height: calc(100vh - 4.5rem);
}

/* Home page (right column) */
#home-page {
  background: linear-gradient(
    0deg,
    rgb(19, 19, 19) 60%,
    rgba(217, 147, 242, 0.9416141456582633) 110%
  );
  overflow-y: scroll;
  height: calc(100vh - 4.5rem);
}

._playlist-container {
  display: flex;
  flex-wrap: wrap;
}

/* Album page (right column) */
#album-page {
  background-color: rgb(19, 19, 19);
  overflow-y: scroll;
  height: calc(100vh - 4.5rem);
  color: white;
}
