.sidebar {
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0; */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: black;
  max-height: 1000px;
  /* to make dynamic!! */
  height: 100%;
  width: 100%;
}

.nav-item {
  color: white;
  font-size: .9rem;
}

#menu {
  overflow-y: scroll;
  max-height: 400px;
  padding-left: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0000;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
