#sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: black;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-left: 1rem;
  /* max-height: 1000px; */
  height: 100%;
  width: 100%;
  color: #a0a0a0;
}

.menu {
  margin-bottom: 2rem;
}

.menu.three {
  overflow-y: scroll;
  /* to change depending on viewport height*/
  max-height: 30vh;
}

.nav-item {
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.nav-item a, .nav-item a:link, .nav-item a:visited {
  text-decoration: none;
  color: #a0a0a0; 
}

.nav-item a:hover {
  color: white;
}

.nav-item:hover {
  color: white;
  cursor: pointer;
  background-color: #a0a0a0b7;
}

.nav-item span {
  margin-left: 1rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0000;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
