.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #181818;
  padding: 0.6rem;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icons-playing-bar {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  color: white;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shuffle, .repeat {
  font-size: .9rem;
}

.volume-devices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
